<%-include('../../partials/head.ejs')%>

<div id="wrapper">

    <%-include('../../partials/navigation.ejs')%>

    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Register </h1>

                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="/">
                                    Home</a></li>
                            <li>
                                Register </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div class="my-account style-1 margin-top-5 margin-bottom-40">
                    <ul class="tabs-nav">
                        <li class="text-center">
                            <h2>Register</h2>
                        </li>
                    </ul>
                    <div class="tabs-container alt">
                        <div class="tab-content" id="register">
                            <form action="/auth/register" method="POST">
                                <p class="form-row form-row-wide">
                                    <label for="full_name">
                                        Full Name <i class="fa fa-user"></i>
                                        <input type="text" class="input-text <%= error.fullname ? 'is-invalid' : '' %> "
                                            name="fullname" id="full_name"
                                            value="<%= value.fullname ? value.fullname : '' %>"
                                            placeholder="Enter Your Name" />
                                        <div class="invalid-feedback"><b><%= error.fullname && error.fullname %></b></div>
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="contact_number">
                                        Contact Number:
                                        <i class="fa fa-mobile"></i>
                                        <input type="text" class="input-text" name="mobile" id="contact_number"
                                            value="<%= value.mobile ? value.mobile : '' %>"
                                            placeholder="01*********" />
                                        <div class="invalid-feedback"><b><%= error.mobile && error.mobile %></b></div>
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="email2">
                                        Email <i class="fa fa-envelope"></i>
                                        <input type="text" class="input-text" name="email" id="email2"
                                            value="<%= value.email ? value.email : '' %>"
                                            placeholder="Enter Your Email" />
                                        <div class="invalid-feedback"><b><%= error.email && error.email %></b></div>
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="password1">
                                        Password <i class="fa fa-lock"></i>
                                        <input class="input-text" type="password" name="password" id="pass1"
                                            placeholder="Type Your Password" />
                                        <div class="invalid-feedback"><b><%= error.password && error.password %></b></div>
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="password2">
                                        Confirm Password <i class="fa fa-lock"></i>
                                        <input class="input-text" type="password" name="confirmPassword" id="pass2"
                                            placeholder="Retype Your Password" />
                                        <div class="invalid-feedback">
                                            <b><%= error.confirmPassword && error.confirmPassword %></b></div>
                                    </label>
                                </p>
                                <p class="form-row">
                                    <input type="submit" class="button border fw margin-top-10 fullwidth"
                                        name="register" value="Register" />
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<%- include('../../partials/footer.ejs')%>