<%-include('../../partials/head.ejs')%>

<div id="wrapper">

    <%-include('../../partials/navigation.ejs')%>

</div>
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><%= locals.user.fullname %> Dashboard </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li> <%= locals.user.fullname %> Dashboard </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="manage-table responsive-table">
                <tr>
                    <td>
                        <h3><a href="/hw/property/list">Property</a></h3>
                        <span>(Total)</span>
                    </td>
                    <td style="font-size: 20px">95</td>
                    <td class="action">
                        <a href="/hw/property/list">View</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><a href="/hw/tenant/list">Tenant</a></h3>
                        <span>(Total)</span>
                    </td>
                    <td style="font-size: 20px">95</td>
                    <td class="action">
                        <a href="/hw/tenant/list">View</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><a href="/hw/payment/list">Income</a></h3>
                        <span>(Total)</span>
                    </td>
                    <td style="font-size: 20px">95</td>
                    <td class="action">
                        <a href="/hw/payment/list">View</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><a href="/hw/payment/list">Income</a></h3>
                        <span>(Monthly)</span>
                    </td>
                    <td style="font-size: 20px">95</td>
                    <td class="action">
                        <a href="/hw/payment/list">View</a>
                    </td>
                </tr>
            </table>
        </div>

        <%- include('./sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>