<%-include('../../partials/head.ejs')%>

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><%= locals.user.name %> Properties </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li> <%= locals.user.name %> Properties </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="manage-table responsive-table">
                <tr>
                    <th>Property</th>
                    <th>Action</th>
                </tr>
                <% if ( properties.length == 0 ) { %>
                <tr>
                    <p style="text-align: center; font-size: 20px">There is no Property right now</p>

                </tr>
                <% } else {
                    for(let property of properties) { %>
                <tr id="">
                    <td class="title-container">
                        <% if(property.picture.length > 0) { %>
                        <img src="/uploads/propertyimage/<%= property.picture[0]%>?t=1636886816" alt="">
                        <% } %>
                        <div class="title">
                            Post ID : <%= property.post_id %> <h4><a
                                    href="/<%= property.area_id.location_name %>/<%= property.area_id.name %>/<%= property.post_id %>/details">
                                    <%= property.short_address %></a></h4>
                            <span><%= property.area_id.name %> , <%= property.area_id.location_name %></span>
                            <span class="table-property-price">
                                <%= property.price %>/- <i>
                                    Per Month</i></span>
                        </div>
                    </td>
                    <td class="action">
                        <a href="/hw/property/edit?id=<%= property._id %>"><i class="fa fa-pencil"></i> Edit Details</a>
                        <a href=""><i class="fa fa-picture-o"></i> Edit Image</a>
                        <a href="/hw/property/status?id=<%= property._id %>&status=<%= property.status %>"><i
                                class="fa fa-eye-slash"></i>
                            <%= property.status === true ? "Deactivate" : "Reactivate" %>
                        </a>
                    </td>
                </tr>
                <% } }%>
            </table>
        </div>

        <%- include('../../partials/sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>