<%-include('../../partials/head.ejs')%>

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> Add New Area </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li><a href="/admin/dashboard"> Admin Dashboard</a></li>
                        <li> Add Area </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="POST" accept-charset="utf-8" action="/admin/area/create">

                <label style="font-size:20px"> District Name </label>
                <select name="district_id">
                    <option value="" selected="selected" required="">Select District *</option>
                    <% for(let district of districts) { %>
                    <option value="<%= district._id %>"><%= district.name %> </option>
                    <% } %>
                </select>

                <label style="font-size:20px"> Area Name </label>
                <input name="area" type="text" />
                <div class="invalid-feedback" style="margin-bottom: 30px"><b><%= error.area && error.area %></b></div>

                <button class="button margin-top-20 margin-bottom-20" type="submit">
                    SUBMIT</button>
            </form>
        </div>

        <%- include('../../partials/sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>