<%-include('../../partials/head.ejs')%>

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> All Area </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li><a href="/admin/dashboard"> Admin Dashboard</a></li>
                        <li> All Area </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="manage-table responsive-table">
                <tr>
                    <th style="width:10%">Area Name</th>
                    <th style="text-align:center">District Name</th>
                    <th>Action</th>
                </tr>
                <% if(areas.length == 0) {%>
                <tr>
                    <p style="text-align: center; font-size: 20px">There is no Areas right now</p>

                </tr>
                <% } else { 
                            for( let area of areas ) { %>
                <tr>
                    <td>
                        <h4>
                            <%= area.name %>
                        </h4>
                    </td>
                    <td style="text-align:center">
                        <h4>
                            <%= area.location_name %>
                        </h4>

                    </td>
                    <td class="action">
                        <a href="/admin/area/edit?explore=<%= area._id %>"><i class="fa fa-pencil"></i> Edit</a>
                        <a href="/admin/status?model=Area&id=<%= area._id %>&status=<%= !area.status %>""><i class="fa fa-eye-slash"></i><%= area.status === true ? "Deactive" : "Reactive" %></a>
                    </td>
                </tr>
                <% } }%>
            </table>
        </div>

        <%- include('../../partials/sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>