<%-include('../../partials/head.ejs')%>

<div id="wrapper">

    <%-include('../../partials/navigation.ejs')%>

</div>
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> Category List </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li> Admin Dashboard </li>
                        <li> All Category </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="manage-table responsive-table">
                <tr>
                    <th>Category Name</th>
                    <th>Total Property</th>
                    <th>Rented</th>
                    <th>Action</th>
                </tr>
                <% if(categories.length === 0) { %>
                <p style="text-align: center; font-size: 20px">There is no Category right now</p>
                <% } else { 
                    for( let category of categories.reverse() ) { %>
                <tr>
                    <td>
                        <h4 style="margin-left: 15px">
                            <%= category.name %>
                        </h4>
                    </td>
                    <td>
                        <h4>
                            <%= category.properties.length %>
                        </h4>
                    </td>
                    <td>
                        <h4>
                            150
                        </h4>
                    </td>
                    <td class="action">
                        <a href="/admin/category/edit?explore=<%= category._id %>">
                            <input name="id" type="hidden"><i class="fa fa-pencil"></i>
                            Edit</a>
                        <a href="/admin/status?model=Category&id=<%= category._id %>&status=<%= category.status %>"><i class="fa fa-eye-slash"></i>
                             <%= category.status === true ? "Deactive" : "Reactive" %>
                            </a>
                    </td>
                </tr>
                <% } 
                } %>
            </table>
        </div>

        <%- include('./sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>