<%-include('../../partials/head.ejs')%>

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> Add New Category </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li><a href="/admin/dashboard"> Admin Dashboard</a></li>
                        <li> Add New Category </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="POST" accept-charset="utf-8" action="/admin/category/create">
                <label style="font-size:20px"> Category Name </label>
                <input type="text" class="input-text" name="category"
                    value="<%= value.category ? value.category : '' %>" />
                <div class="invalid-feedback" style="margin-bottom: 30px"><b><%= error.category && error.category %></b>
                </div>

                <label style="font-size:20px"> Confirm Category Name </label>
                <input name="confirm" type="text" value="" />
                <div class="invalid-feedback"><b><%= error.confirm && error.confirm %></b></div>

                <button class="button margin-top-20 margin-bottom-20" type="submit">
                    SUBMIT</button>
            </form>
        </div>

        <%- include('../../partials/sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>