<%-include('../../partials/head.ejs')%>

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> Change Password </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li><a href="/admin/profile"></a> Admin Profile </li>
                        <li> Change Password </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="POST" accept-charset="utf-8" action="/admin/profile/password-change">
                <label style="font-size:20px"> Old Password </label>
                <input type="password" class="input-text" name="oldPassword" placeholder="Old Password" value="" />
                <div class="invalid-feedback" style="margin-bottom: 30px">
                    <b><%= error.oldPassword && error.oldPassword %></b></div>


                <label style="font-size:20px"> New Password </label>
                <input name="newPassword" type="password" value="" placeholder="New Password" />
                <div class="invalid-feedback" style="margin-bottom: 30px">
                    <b><%= error.newPassword && error.newPassword %></b></div>


                <label style="font-size:20px"> Retype Password </label>
                <input name="confPassword" type="password" value="" placeholder="Confirm Password" />
                <div class="invalid-feedback"><b><%= error.confPassword && error.confPassword %></b></div>


                <button class="button margin-top-20 margin-bottom-20" type="submit">
                    SUBMIT</button>
            </form>
        </div>

        <%- include('../../partials/sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>