<%-include('../../partials/head.ejs')%>

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> Admin Dashboard </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li> Admin Dashboard </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="manage-table responsive-table">
                <tr>
                    <th>List Name</th>
                    <th>Total</th>
                    <th>View Full List</th>
                </tr>
                <tr>
                    <td class="title-container">
                        <div class="title">
                            <h4><a href="/admin/homeowner/list">
                                    House Owners</a>
                            </h4>
                        </div>
                    </td>
                    <td class="title"><%= users.length %></td>
                    <td class="title">
                        <a href="/admin/homeowner/list"></i> VIEW</a>
                    </td>
                </tr>
                <tr>
                    <td class="title-container">
                        <div class="title">
                            <h4><a href="/admin/property/list">
                                    Properties</a>
                            </h4>
                        </div>
                    </td>
                    <td class="title"><%= totalProperties %></td>
                    <td class="title">
                        <a href="/admin/property/list"></i> VIEW</a>
                    </td>
                </tr>
                <tr>
                    <td class="title-container">
                        <div class="title">
                            <h4><a href="/admin/tenant/list">
                                    Tenants</a>
                            </h4>
                        </div>
                    </td>
                    <td class="title"><%= totalTenants %></td>
                    <td class="title">
                        <a href="/admin/tenant/list"></i> VIEW</a>
                    </td>
                </tr>
                <tr>
                    <td class="title-container">
                        <div class="title">
                            <h4><a href="/admin/location/list">
                                    Categories</a>
                            </h4>
                        </div>
                    </td>
                    <td class="title"><%= locals.categories.length %></td>
                    <td class="title">
                        <a href="/admin/category/list"></i> VIEW</a>
                    </td>
                </tr>
                <tr>
                    <td class="title-container">
                        <div class="title">
                            <h4><a href="/admin/location/list">
                                    District</a>
                            </h4>
                        </div>
                    </td>
                    <td class="title"><%= locations.length %></td>
                    <td class="title">
                        <a href="/admin/location/list"></i> VIEW</a>
                    </td>
                </tr>
                <tr>
                    <td class="title-container">
                        <div class="title">
                            <h4><a href="/admin/area/list">
                                    Area</a>
                            </h4>
                        </div>
                    </td>
                    <td class="title"><%= totalAreas %></td>
                    <td class="title">
                        <a href="/admin/area/list"></i> VIEW</a>
                    </td>
                </tr>
            </table>
        </div>

        <%- include('../../partials/sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>