<%-include('../../partials/head.ejs')%>

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> All Home Owner </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li><a href="/admin/dashboard"> Admin Dashboard</a></li>
                        <li> Home Owner List </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="manage-table responsive-table">
                <tr>
                    <th>Owner Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Total Property</th>
                    <th>Total User</th>
                    <!-- <th>Action</th> -->
                </tr>
                <% for( let user of users ) { %>
                <tr>
                    <td>
                        <h4><%= user.fullname %></h4>
                    </td>
                    <td>
                        <h4><%= user.email %></h4>
                    </td>
                    <td>
                        <h4><%= user.mobile %></h4>
                    </td>
                    <td>
                        <h4><%= user.profile.properties.length %></h4>
                    </td>
                    <td>
                        <h4><%= user.profile.tenants.length %></h4>
                    </td>
                    <!-- <td class="action">
                                <a href="/"><i class="fa fa-pencil"></i> Edit</a>
                                <a href="/"><i class="fa fa-eye-slash"></i> Reactive</a>
                            </td> -->
                </tr>
                <% } %>
            </table>
        </div>

        <%- include('../../partials/sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>