<%-include('../../partials/head.ejs')%>

<div id="wrapper">

    <%-include('../../partials/navigation.ejs')%>

</div>
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> All District </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li> Admin Dashboard </li>
                        <li> All District </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="manage-table responsive-table">
                <tr>
                    <th style="width:10%">Name</th>
                    <th style="text-align:center">Area</th>
                    <th>Action</th>
                </tr>
                <% if(locations.length == 0) {%>
                <p style="text-align: center; font-size: 20px">There is no District right now</p>
                <% } else { 
                        for( let location of locations ) {%>
                <tr>
                    <td>
                        <h4 style="margin-left: 15px"><a href="/">
                                <%= location.name %></a>
                        </h4>
                    </td>
                    <td>
                        <% if(location.areas.length == 0 ) {%>
                        <p style="text-align: center; font-size: 18px">There is no Area right now</p>
                        <% } else { %>
                        <p style="text-align: center; font-size: 18px">
                            <% for(let area of location.areas) { %>
                                <span style="background-color:khaki; margin-right: 8px"><%= area.name %></span>
                            <% } %>
                        </p>
                        <% }%>

                    </td>
                    <td class="action">
                        <a href="/admin/location/edit?explore=<%= location._id %>"><i class="fa fa-pencil"></i> Edit</a>
                    </td>
                </tr>
                <% } } %>
            </table>
        </div>

        <%- include('./sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>