<%-include('../../partials/head.ejs')%>

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> Add New District </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li><a href="/admin/dashboard"> Admin Dashboard</a></li>
                        <li> Add District </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">

            <form method="POST" accept-charset="utf-8" action="/admin/location/create">
                <label style="font-size:20px"> District Name </label>
                <input name="location" type="text" value="<%= value.location ? value.location : '' %>" />
                <div class="invalid-feedback" style="margin-bottom: 30px"><b><%= error.location && error.location %></b>
                </div>

                <label> Confirm District Name </label>
                <input value="" name="confirm" type="text">
                <div class="invalid-feedback"><b><%= error.confirm && error.confirm %></b></div>

                <button class="button margin-top-20 margin-bottom-20" type="submit">
                    SUBMIT</button>
            </form>

        </div>

        <%- include('../../partials/sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>