<%-include('../../partials/head.ejs')%>

<div id="wrapper">

    <%-include('../../partials/navigation.ejs')%>

</div>
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> All Property </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li><a href="/admin/dashboard"> Admin Dashboard</a> </li>
                        <li> Property List </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="manage-table responsive-table">
                <tr>
                    <th style="width:10%">Property ID</th>
                    <th>Owner Name</th>
                    <th>Category</th>
                    <th>Area</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <% for( let property of properties ) { %>
                <tr>
                    <td>
                        <h4><%= property.post_id %></h4>
                    </td>
                    <td>
                        <h4><%= property.homeOwner_id.fullname %></h4>
                    </td>
                    <td>
                        <h4><%= property.category.name %></h4>
                    </td>
                    <td>
                        <h4><%= property.area_id.name %></h4>
                    </td>
                    <td>
                        <h4><%= property.status %></h4>
                    </td>
                    <!-- <td class="action">
                        <a href="/"><i class="fa fa-eye-slash"></i> Reactive</a>
                    </td> -->
                </tr>
                <% } %>
            </table>
        </div>

        <%- include('./sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>