<%-include('../../partials/head.ejs')%>

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> All Tenant </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li><a href="/admin/dashboard"> Admin Dashboard</a> </li>
                        <li> Tenant List </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="manage-table responsive-table">
                <tr>
                    <th style="width:10%">Name</th>
                    <th>House Id</th>
                    <th>Price</th>
                    <th>Registation</th>
                </tr>
                <% for( let tenant of tenants ) { %>
                <tr>
                    <td>
                        <h4><%= tenant.firstName +" "+ tenant.lastName %></h4>
                    </td>
                    <td>
                        <h4><%= tenant.house.post_id %></h4>
                    </td>
                    <td>
                        <h4><%= tenant.house.price %>/-</h4>
                    </td>
                    <td>
                        <h4><%= tenant.createdAt %></h4>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>

        <%- include('../../partials/sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>