<%-include('../../partials/head.ejs')%>

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> Update District </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li><a href="/admin/dashboard"> Admin Dashboard</a></li>
                        <li> Update District </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="POST" accept-charset="utf-8" action="/admin/location/edit">

                <label style="font-size:20px"> Update District Name </label>
                <input type="text" class="input-text" name="updateLocation" value="<%= value.targetLocation.name %>" />
                <input type="hidden" name="id" value="<%= value.targetLocation._id %>" />

                <button class="button margin-top-20 margin-bottom-20" type="submit">
                    UPDATE</button>
            </form>
        </div>

        <%- include('../../partials/sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>