<%-include('../../partials/head.ejs')%>

<div id="wrapper">

    <!-- <%-include('../../partials/search.ejs')%> -->

</div>

<div class="container">
    <div class="row fullwidth-layout">
        <div class="col-md-12">
            <h3 class="headline margin-bottom-25 margin-top-65">
                Recent Property </h3>
        </div>
        <div class="col-md-12">

            <div class="listings-container grid-layout-three">
                <% for(let property of properties) { %>
                <div class="listing-item">
                    <a href="/<%= property.area_id.location_name %>/<%= property.area_id.name %>/<%= property.post_id %>/details"
                        class="listing-img-container">
                        <div class="listing-badges">
                            <span><%= property.category.name %></span>
                        </div>
                        <div class="listing-img-content">
                            <span class="listing-price"><%= property.price %>.00/-<i>Per Month</i></span>
                            <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                        </div>
                        <img src="/uploads/propertyimage/<%= property.picture[0] %>"
                            alt="Family House Tolet From November" class="img-responsive lazy" height="360" width="240">
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4 class="two-line"><a
                                    href="<%= property.area_id.location_name %>/<%= property.area_id.name %>/<%= property.post_id %>/details"><%= property.category.name %>
                                    Tolet From November</a></h4>
                            <a href="/<%= property.area_id.location_name %>/<%= property.area_id.name %>/<%= property.post_id %>/details"><i class="fa fa-map-marker"></i> <%= property.area_id.name %>,
                                <%= property.area_id.location_name %></a>
                        </div>
                        <ul class="listing-details">
                            <li><i class="fa fa-bed"></i> <%= property.bedRoom %> Bedroom</li>
                            <li class="pull-right"><i class="fa fa-tint"></i> <%= property.bathRoom %> Bathroom</li>
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="clearfix"></div>
            <a href="/property-listing?page=1" class="btn-block">See More Property</a>


        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="headline centered margin-bottom-35 margin-top-10">Our Statistic <span> We upgrade our
                    site regularly for your help</span></h3>
        </div>
        <div class="col-md-offset-1 col-md-3 col-sm-6">
            <div class="counter-box last">
                <div class="counter-box-icon">
                    <i class="fa fa-users"></i>
                    <span class="counter"><%= users.length %></span>
                    <p>Total User</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter-box last ">
                <div class="counter-box-icon">
                    <i class="fa fa-home"></i>
                    <span class="counter"><%= totalproperties.length %></span>
                    <p>Total House Listed</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter-box last">
                <div class="counter-box-icon">
                    <i class="fa fa-users"></i>
                    <span class="counter"><%= tenants.length %></span>
                    <p>Total Tenant Listed</p>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../../partials/footer.ejs')%>