<%-include('../../partials/head.ejs')%>

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> <%= title %> </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <% if(isCat) { %>
                            <li><%= category %></li>
                        <% } else { %>
                            <li> <%= location %></li>
                            <li> <%= area %></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row fullwidth-layout">
        <div class="col-md-12">

            <div class="listings-container grid-layout-three">
                <% for(let property of properties) { %>
                <div class="listing-item">
                    <a href="/<%= property.area_id.location_name %>/<%= property.area_id.name %>/<%= property.post_id %>/details"
                        class="listing-img-container">
                        <div class="listing-badges">
                            <span><%= property.category.name %></span>
                        </div>
                        <div class="listing-img-content">
                            <span class="listing-price"><%= property.price %>.00/-<i>Per Month</i></span>
                            <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                        </div>
                        <img src="/uploads/propertyimage/<%= property.picture[0] %>"
                            alt="Family House Tolet From November" class="img-responsive lazy" height="360" width="240">
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4 class="two-line"><a
                                    href="/<%= property.area_id.location_name %>/<%= property.area_id.name %>/<%= property.post_id %>/details""><%= property.category.name %>
                                    Tolet From
                                    <% let month = [" ","January","February","March","April","May","June","July","August","September","October","November","December"] %>
                                    <%= month[property.month_need_from]%></a></h4>
                            <a href="/<%= property.area_id.location_name %>/<%= property.area_id.name %>/<%= property.post_id %>/details"">
                                    <i class="fa fa-map-marker"></i> <%= property.area_id.name %>,
                                    <%= property.area_id.location_name %></a>
                        </div>
                        <ul class="listing-details">
                            <li><i class="fa fa-bed"></i> <%= property.bedRoom %> Bedroom</li>
                            <li class="pull-right"><i class="fa fa-tint"></i> <%= property.bathRoom %> Bathroom</li>
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs')%>